.logo {
  display: grid;
  margin: 0 auto;
  height: 9rem;
  width: 18rem;
  position: relative;
}

.logo .my {
  top: 0;
  left: 25%;
  position: absolute;
  background-color: #933c8a;
  color: white;
  width: fit-content;
  font-size: 2rem;
}

.logo .therapy {
  top: 0.7rem;
  left: 0%;
  position: absolute;
  font-size: 5rem;
  color: #fa8140;
  font-style: italic;
  font-weight: bold;
}

.logo .online {
  color: #414141;
  right: 0;
  top: 5.5rem;
  font-size: 3rem;
  position: absolute;
  font-weight: 300;
  font-stretch: ultra-condensed;
}